[submodule "hernandezCar_hirotaEis_prasadAmi"]
	path = hernandezCar_hirotaEis_prasadAmi
	url = https://github.com/KarlWithK/rush.git
	branch = master
[submodule "nathMic_siuVic_ganHao"]
	path = nathMic_siuVic_ganHao
	url = https://github.com/vs2961/01_bash_trash.git
	branch = main
[submodule "hathawayMay_waldAle"]
	path = hathawayMay_waldAle
	url = https://github.com/mayhathaway/systems-shell.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/CullenLYe/project01_shell.git
	branch = main
[submodule "chenJac_jiangVin_yeCul"]
	path = chenJac_jiangVin_yeCul
	url = https://github.com/CullenLYe/project01_shell.git
	branch = main
[submodule "hamzahMoh_raoIva_yeGen"]
	path = hamzahMoh_raoIva_yeGen
	url = https://github.com/irao12/systems_shell
	branch = main
[submodule "luRan_zhaoGav_zhangDev"]
	path = luRan_zhaoGav_zhangDev
	url = https://github.com/RandyLu0/Shell
	branch = main
[submodule "ku-benjetJer_leeLuc_zhangAle"]
	path = ku-benjetJer_leeLuc_zhangAle
	url = https://github.com/Kappachino-Latte/Project_01.git
	branch = master
[submodule "linLei"]
	path = linLei
	url = https://github.com/llin11/shell.git
	branch = main
[submodule "chanSer_liSun_zhouKel"]
	path = chanSer_liSun_zhouKel
	url = https://github.com/KellyZhou223/project01_shell.git
	branch = main
[submodule "sahaAbh_leeSte_misquittaKri"]
	path = sahaAbh_leeSte_misquittaKri
	url = https://github.com/kevidgel/shell.git
	branch = main
