[submodule "hernandezCar_hirotaEis_prasadAmi"]
	path = hernandezCar_hirotaEis_prasadAmi
	url = https://github.com/KarlWithK/rush.git
	branch = master
[submodule "nathMic_siuVic_ganHao"]
	path = nathMic_siuVic_ganHao
	url = https://github.com/vs2961/01_bash_trash.git
	branch = main
[submodule "hathawayMay_waldAle"]
	path = hathawayMay_waldAle
	url = https://github.com/mayhathaway/systems-shell.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/CullenLYe/project01_shell.git
	branch = main
[submodule "chenJac_jiangVin_yeCul"]
	path = chenJac_jiangVin_yeCul
	url = https://github.com/CullenLYe/project01_shell.git
	branch = main
[submodule "hamzahMoh_raoIva-yeGen"]
	path = hamzahMoh_raoIva-yeGen
	url = https://github.com/irao12/systems_shell
	branch = main
